/*------------------------------------------------------------------------------*/
/* Configurações gerais: */

body {
	background-color: black;
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	color: white;
	margin: 0px; /* Remove uma margem padrão do corpo todo */
}
#page {
	display: inline-flex;
	margin: 60px 25px 25px 25px;
	gap: 40px;
}

/*------------------------------------------------------------------------------*/
/* Configurações de texto: */

#tituloBody {
	font-size: 35px;
	font-weight: 600;
}
.mainTitulo {
	font-size: 60px;
	font-weight: 600;
}
.subtituloLC {
	font-size: 20px;
	color: #CCCCCC;
}
.nomeArtista {
	font-size: 12.5px;
	padding: 10px 0px 10px 0px;
	word-wrap: break-word; /* Porque isso não tá funcionando? */
}
.legendaNomeArtista {
	font-size: 12.5px;
	color: #8C8C8C;
}

/*------------------------------------------------------------------------------*/
/* Configurações da página de artistas: */

#colunaLeft, #LCupper {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
#colunaLeft {
	height: 750px;
	justify-content: space-between;
}
#LCitem1, #LCitem2, #LCitem3 {
	display: inline-flex;
	gap: 10px;
}
#logout { cursor: pointer; }
#logout:hover { color: #3FE168; }


#body {
	padding-top: 50px;
}
.blocoArtista {
	background-color: rgb(28, 28, 28);
	padding: 20px 20px 35px 20px;
	border-radius: 5%;
	max-width: 280px;
	max-height: 220px;
}
#linhasBody {
	display: grid;
  	grid-template-columns: repeat(5, 1fr);
	gap: 40px;
	padding-top: 40px;
}
.fotoArtista {
	width: 160px;
	height: 160px;
	border-radius: 50%; /* Faz a foto ficar em formato circular */
	cursor: pointer;
}

/*------------------------------------------------------------------------------*/
/* Configurações comuns das páginas de login e cadastro: */

#loginBox, #cadastroBox {
	display: flex;
	flex-direction: column;
	gap: 50px;
	align-items: center;
	margin-top: 10%;
}
#inputsLogin, #inputsCadastro {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.input {
	background-color: #3C3C3C;
	padding: 15px 50px 15px 15px;
	outline: none;
	border: none;
	width: 700px;
	height: 30px;

	font-size: 25px;
	font-weight: 300;
	color: #868686;

	background-repeat: no-repeat;
	background-position: 98% 50%;
}
#inputEmail { background-image: url("./images/email.png"); }
#inputSenha { background-image: url("./images/lock.png"); }

#loginLastLine, #cadastroLastLine {
	display: inline-flex;
	gap: 10px;
}
#linkCadastro, #linkLogin {
	cursor: pointer;
	color: white;
}
#linkCadastro:hover, #linkLogin:hover { color: #3FE168; }

/*------------------------------------------------------------------------------*/
/* Configurações exclusivas da página de login: */

#loginLine2 { padding-top: 20px; }
#botaoEntrar {
	background-color: white;
	padding: 20px 120px;
	border-radius: 50px;
	align-items: center;
	cursor: pointer;
	transition: background-color 0.3s ease;

	font-size: 20px;
	font-weight: 800;
	color: black;
}
#botaoEntrar:hover { background-color: #3FE168; }

/*------------------------------------------------------------------------------*/
/* Configurações exclusivas da página de cadastro: */

#botaoCadastro {
	background-color: #3FE168;
	padding: 20px 120px;
	border-radius: 50px;
	align-items: center;
	cursor: pointer;

	font-size: 20px;
	font-weight: 800;
	color: white;
}
#tituloCadastro {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#inputNome { background-image: url("./images/person.png"); }