body {
	background-color: black;
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	color: white;
	margin: 0px; /* Remove uma margem padrão do corpo todo */
}

/* Estilo para a page de artistas e a page das musicas de artistas */
.page {
	display: inline-flex;
	margin: 60px 25px 25px 25px;
	gap: 40px;
}


#tituloBody {
	font-size: 35px;
	font-weight: 600;
}
.mainTitulo {
	font-size: 60px;
	font-weight: 600;
}
.subtituloLC {
	font-size: 20px;
	color: #CCCCCC;
}